/* Universal page style */
* {
    font-family: "Montserrat", serif;
}

body {
    width: 80rem;
    margin:0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
}

header {
    width: 100%;
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 3.5rem;
    background-color: #1CB9B3;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #fff;
}

section {
    margin: 0.25rem;
}

#search-bar {
    margin: 0.5rem;
}

#citySearch {
    width: 100%;
    height: 2.5rem;
    text-indent: 2rem;
    background-image: url('../icons/search.png');
    background-position: left center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

article {
    margin: 0.5rem 0;
}

.weather-card, .city-card {
    display: grid;
    grid-template: auto auto auto / auto auto auto auto;
    border-radius: 0.5rem;
    box-shadow: -1px 1px 6px 0 rgba(74, 74, 74, 0.15);
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    letter-spacing: -0.04em;
}

.current-date, .future-date {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #A0ABBB;
}

.future-date {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 1rem 0 1rem 1rem;
}

.container-weather-condition {
    grid-column: 4;
    grid-row: 1 / span 3;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.container-weather-condition figure img{
    width: 6.75rem;
    height: 6.25rem;
    object-fit: contain;
}

.city-name {
    padding: 1rem 0 1.5rem 1rem;
}

.container-weather {
    grid-column: 1 / span 3;
    grid-row: 2 / span 2;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0 0 1rem 1rem;
}

.city-card .container-weather {
    padding-left: 1rem;
}

.container-weather div:first-child {
    grid-column: 1;
}

.container-weather div:nth-child(2) {
    grid-column: 2;
}

.container-weather div:nth-child(3) {
    grid-column: 3;
}

.temperature, .wind, .humidity {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2rem;
    color: #323A46;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #A0ABBB;
}

.selected {
    border: .25rem solid #1CB9B3;
}

#error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: red;
    padding: 2rem;
    font-size: large;
    color: #fff;
    border-radius: 0.5rem;
    text-align: center;
}

#error button {
    min-width: 8rem;
    margin-top: 1rem;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

